{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}


   

   <div class="cont">
      <div class="container-full">
        <div class="px-lg-5 content">
          <!-- display default password and username  -->
          <div class="row imgs">
            {% for pic in image %}
              <!-- Gallery Photo item start -->
              <div class="col-lg-12 col-md-12 mb-4">
                <div class="bg-white rounded shadow-sm">
                    <a href="/image/{{image.id}}">
                      <img src="{{ pic.image.url }}" alt=""
                      class="img-fluid card-img-top">
                    </a>
                  <div class="p-4">
                    <h5 class="headings text-center"> {{ pic.title }}</h5>
                    <div class="d-flex justify-content-between">
                      <div>
                        <div class="text-muted">
                          <span class="text-dark text-capitalize">{{ pic.caption }}</span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">
                          <span class="badge rounded-pill bg-dark text-white text-capitalize">{{ pic.post_date|date }}</span>
                        </small>
                      </div>
                      <form action = "{% url 'like-image' %}"   method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{pic.id}}">
                        {%if user not in pic.liked.all %}
<a class=""href="/"><img class="text-white" src="https://img.icons8.com/win10/2x/like.png" alt="" style="width: 28%;"></a>
                        {% else %}
                         <button class="" type="submit">Un-like</button> 
                        {% endif %}
                      </form>
                        <strong>{{pic.liked.all.count}}Like(s)</strong>
                    </div>
                  </div>
              </div>
             </div>
             {% endfor%}
          </div>
          </div>
      </div>
  </div>
  


{% endblock %}