{%extends 'all-photos/base.html'%}
{% load bootstrap4 %}

{% block content %}
   <div class="cont">
      <div class="container-full">
        <div class="px-lg-5 content">
          <!-- display default password and username  -->

          <div class="row imgs">
            {% for pic in image %}
              <!-- Gallery Photo item start -->

              <div class="col-lg-12 col-md-12 mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-center">
                    <!-- <a href="">
                        <img src="{{image.user.profile.profile_photo.url}}" class="user-avatar border-radius me-2" height='30px' width="30px" alt="Profile Photo">
                    </a> -->
                    <a href="{% url 'user.profile' pic.user.id %}">
                        <h6>profile</h6>
                    </a>
                </div>
                <a href=""></a>
                <h2>...</h2>
            </div>
                <div class="bg-white rounded shadow-sm">
                  <div class = "" data-toggle ="modal" data-target="#showPicModal{{pic.id}}">
                      <img src="{{ pic.image.url }}" alt=""class="img-fluid card-img-top">
                  </div>
                  <div class="p-4">
                    <div class="d-flex justify-content-between">
                      <div>
                        <div class="text-muted">
                          <span class="text-dark text-capitalize">{{ pic.caption }}</span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">
                          <span class="badge rounded-pill bg-dark text-white text-capitalize">{{ pic.post_date|date }}</span>
                        </small>
                      </div>


                    </div>
                    <form action = "{% url 'like-image' %}"   method='POST'>
                      {% csrf_token %}
                      <input type="hidden" name="image_id" value="{{pic.id}}">
                      {%if user not in pic.liked.all %}
                      <button class="btn btn-success" type="submit">like</button>
                      {% else %}
                       <button class="" type="submit">Un-like</button>
                      {% endif %}
                    </form>
                      <strong>{{pic.liked.all.count}}Like(s)</strong>
                  </div>
                  <form action="{% url 'comments' image_id=pic.id%}" class="comment-form com" method="post"
                  enctype="multipart/form-data">
                  {% csrf_token%}
                  {% bootstrap_form form %}
                  <div class="form-group text-center">
                      <input type="submit" class="btn btn-primary login-btn" value="Comment">
                  </div>
                  <input type="hidden" name="next" value="{{next}}">
              </div>
             </div>

             <div class="container">
              <div class="modal fade" id="showPicModal{{pic.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered mode" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalPictureTitle">{{pic.name}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="{{ pic.image.url }}" alt=""class="img-fluid card-img-top">
                      <div class="row">
                        <div class="text-muted">
                          <span class="text-dark text-capitalize">{{ pic.caption }}</span>
                        </div>
                        <div class="col-md-4">
                          <strong>{{pic.liked.all.count}}Like(s)</strong>
                        </div>
                        <div class="col-md-4">
                          <small class="text-muted">
                            <span class="badge rounded-pill bg-dark text-white text-capitalize">{{ pic.post_date|date }}</span>
                          </small>
                        </div>

                      </div>
        
                    </div>
                    <div class="modal-footer">
                      {% for comment in pic.saved_comments %}
                      
                      <div class="comments">
                        <p> <span><strong>{{comment.user}}</strong></span>: {{comment.comment}}</p>
                      </div>
  
                      {% endfor %}
                    </div>
                </div>
                  
            </div>
            </div>
             </div>


             {% endfor%}
          </div>
          <!-- <div class="profiles">

            {% for users in user %}
            <div class="profimage">
              <img src="{{ users.profile_photo.url }}" alt=""class="imgprof">
            </div>
              <a href="">{{users.user.username}}</a>
  
            {% endfor%}
          </div> -->
          </div>

      </div>
  </div>
  


{% endblock %}