@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cookie&display=swap');
h1{
    color: crimson;
}
nav{
    height: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    width: 100%;
}
.navi1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navi{
    font-family: 'Cookie', cursive;
    font-size: 24px;

}
.navi a{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}
.responsive{
    height: auto;
    width: 100%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.imgs{
    width: 50%;
    height: auto;
}

