{% extends "all-photos/base.html" %}
{% block content %}

<section class="profile container">
    <div class=" mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    {% if profile.profile_photo %}
                    <img src="{{profile.profile_photo.url}}" alt="" class="card-img-top">
                    {%else%}
                    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        class="card-img-top" alt="My profile picture">
                    {% endif %}
                    <div class="card-body text-center">
                        <h4 class="card-text">
                            {{ user.first_name }} {{ user.last_name }}
                        </h4>
                        <p>{{ user.username }}</p>
                        <p>
                            {% if profile.bio %}
                            <small>{{ profile.bio }}</small>
                            {% else %}
                            <span class="text-danger">No about me</span>
                            {% endif %}
                        </p>
                        <h6>Joined on: <span class="badge rounded-pill bg-secondary text-white">
                                {{ user.date_joined|date }} </span></h6>
                        <!-- <div class="d-flex justify-content-evenly">
                            <div>
                                <p class=""> <i class="fa fa-user"></i> 10 followers</p>
                            </div>
                            <div>
                                <p class=""> <i class="fa fa-user"></i> 11 followers</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}