{%extends 'all-photos/base.html'%}

 {% block content %}

   <div class="container-full">
        <div class="row">
            {{prof_user.user.username}}


            <div class="container">
                <h3>Posts</h3>
                {% for image in images %}

                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="{{ image.image.url }}" alt=""class="responsive">
                        </div>
                        
                    </div>
                {% endfor%}
            </div>
        </div>

    </div>
 {% endblock %}
